/* .gradient-background {
    background: linear-gradient(300deg, #033f8350, #ffffff00, #7a095850);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
} */

/* PRIMARY COLORS */
.center-stage{
    background-color: rgb(248, 222, 198);
}

.primary-bg-color{
    background-color: rgb(247, 213, 213); 
    border-bottom: double black;
    border-top: double black  
   
}

.order{
    border-color: rgb(134, 3, 3);
    color:rgb(134,3,3);
}

/* FONTS */
.agbalumo{
font-family: Agbalumo, sans-serif;
color: rgb(5, 5, 194);
font-weight: bold;
}

.playfair{
    font-family: 'Playfair Display', serif;
}

.cormorant{
    font-family: 'Cormorant', serif;
}

.cormorantGaramond{
    font-family: 'Cormorant Garamond', serif;
}
.quintessential{
    font-family: 'Quintessential', serif;
}

.nav-link-font-color{
    color:rgb(80, 77, 77);
}

/* #header1{
    background-color: white; 
    border-bottom: none;
    border-top: none;  
} */

#header2, #footer1{
    font-family: Cormorant, serif;
    font-weight:bold;
    font-size: larger; 
    /* color:rgb(80, 77, 77) ;  */

}

/* #header2 {
    border-bottom: double black;
   
}

#footer1 {
    border-top: double black  
} */


.roundedEdges{
    border-radius: 20%;
}

/* .place-order{
    background-color: rgb(162, 87, 209);
    color: whitesmoke ;
} */

img {
    margin: auto auto; 
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}


